.sliderContainer
    overflow: hidden
    user-select: none
    padding-bottom: 56.25%
    position: relative

.hack
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    width: 100%
    height: 100%
    border: 0

.controls
    position: absolute
    bottom: 0
    width: 100%
    z-index: 2
    display: flex
    justify-content: space-around
    opacity: 0.6
